body {
    background-color: #FFF8EA;
    height: fit-content;
    width: fit-content;
}

#game-title{

    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    font-size: 50px;
    color: #332c39;
    text-align: center;
    justify-content: center;
}

#title{
    height: 100px;
    width: 100px;
    justify-content: flex-end;
}
#message{
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    font-size: 40px;
    text-align: center;

}

#guess-counter {
    display: inline;
    float: right;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    padding: 10px 400px 10px 10px;
    margin: 30px


}
.clickCount{
    font-size: 30px;
}
#matches-counter{
    display: inline;
    float:left;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    font-size: 30px;
    padding: 10px 10px 10px 500px;
    margin: 30px;

}

p{
    text-align: center;
    justify-content: center;
    pointer-events: none;
    font-size: larger;
}

/* #start-game {
    background-color: #609EA2;
    border: white;
    color: white;

} */

#board {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    margin: auto;
    background-color:#a8d4e9;
    border-radius: 5vmin;



}

.maincontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .1fr;
    margin: 30px;
    background: none;
    height: fit-content;
    width: fit-content;





}

.card {

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin:10px;
    width: 150px;
    height: 150px;
    border-style:outset;
    border-radius: 30px;
    border-color: #BE8C63;
    border-width: 1.5vmin;



}
img{
    height:150px;
    width:150px;
    z-index: -1;
    pointer-events: none;



}

.back {
    position: relative;
    width: 150px;
    height: 150px;
    /* display: block; */
    z-index: 1;
    background-color:#E4D1B9;
    color:white;
    font-size: 30px;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    text-align: center;
    border-color: #BE8C63;
    border-radius: 3vmin;
    /* transform-style: preserve-3d;
    transition: all 0.8s ease; */


}

.face {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: 0;
    display: block;
    background-color: #F0EEED;
    background-image: none;
    color: white;
    text-align: center;
    border-radius: 3vmin;
    pointer-events: none;

    /* backface-visibility: hidden; */
    /* transform: rotateY(180deg); */
    /* background-color: #C92C6D; */
}
/*
.flipCard {
    transform: rotateY(180deg);
} */

#restart-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background-color: #BE8C63;
    border-style: outset;
    border-radius: 1vmin;
    border-color: #F0EEED;
    padding: 15px 32px;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    color: #F0EEED;
    text-align: center;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);


}
