body {
    background-color: #F0EEED;
}

h1 {

    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    font-size: 60px;
    color: #332c39;
    text-align: center;
}

h2 {
    text-align: end;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    padding: 20px;
    margin: 20px;

}

#start-game {
    background-color: #609EA2;
    border: white;
    color: white;

}

#board {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    margin: auto;

    background-color: #609EA2;
    
    border-radius: 5vmin;
    border-color: white;


}

.maincontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: .1fr;
    margin: 30px;
    background: none;


}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    /* width: 100%;
    height: 100%; */
    border-style: ridge;
    border-radius: 5vmin;
    border-color: #F0EEED;
    border-width: 2vmin;

}

.back {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    /* backface-visibility: hidden; */
    background: #C92C6D;
    color: white;
    font-size: 50px;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    text-align: center;


}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
   display:none;
    color: white;
    text-align: center;
}

#restart-game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;
    background-color: #C92C6D;
    border-style: outset;
    border-radius: 1vmin;
    border-color: #F0EEED;
    padding: 15px 32px;
    font-family: 'M PLUS 1p', sans-serif;
    font-family: 'Rampart One', cursive;
    color: #F0EEED;
    text-align: center;
    font-size: 20px;


}
